---
layout: default
identifier: sketch
noindex: true
navbar: false
scripts:
 - jquery.mask.min
 - sketch
---
<a class="share share-fb" href="#" onclick="FB.ui({method: 'share', href: 'https://api.sketch-off.com/sketches/10-drafts-with-1gb-psd-file-now-you-say-you-want-to-redo'}, function(r){});"></a>
<a class="share share-twitter" href="#" onclick="window.open('http://twitter.com/intent/tweet?text=hello&url=http://sketchme.co', '', 'height=300,width=500')"></a>
<a class="share share-email" href="mailto:?subject=SketchMe&body=https://api.sketch-off.com/sketches/10-drafts-with-1gb-psd-file-now-you-say-you-want-to-redo"></a>
<section class="welcome" id="welcome">
    <div class="container-fluid">
        <div class="logo">
            <a class="app-title" href="/">SketchMe <span class="description">| Know Thy Friends</span></a>
        </div>
        <div class="app-banner">
            <a href="/appstore">Get SketchMe on your iPhone</a>
        </div>
        <div class="sketch-detail col-md-4 col-md-offset-4 col-xs-12">
            <div class="sketch-main">
                <img src="http://s3-us-west-2.amazonaws.com/delta-epsilon/sketches/0nHxYlrFTEGEQSAogklO2Q_p.jpg" alt="Says \"I need to lose weight\" and drinks 5 cartons of milk" class="sketch-img">
                <div class="sketch-overlay">
                    <div class="down-count vote-count">3 <span class="down-arrow arrow"></span></div>
                    <div class="up-count vote-count"><span class="up-arrow arrow"></span> 12</div>
                    <div class="time-label">1 minutes ago</div>
                </div>
            </div>
            <div class="sketch-votes" id="sketch-upvotes">
                <div class="votes-label">upvotes</div>
                <div class="votes">
                    {% for i in (1..15) %}
                    <a href="/">
                        <div class="user">
                            <img src="http://s3-us-west-2.amazonaws.com/delta-epsilon/sketches/cz_chJwXSTGWye8q4AFa2A_t.jpg" class="user-avatar"></img>
                            <div class="user-name">Frank</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <hr>
            </div>
            <div class="sketch-votes-container" id="sketch-downvotes">
                <div class="votes-label">downvotes</div>
                <div class="votes">
                    {% for i in (1..6) %}
                    <a href="/">
                        <div class="user">
                            <img src="http://s3-us-west-2.amazonaws.com/delta-epsilon/sketches/cz_chJwXSTGWye8q4AFa2A_t.jpg" class="user-avatar"></img>
                            <div class="user-name">Frank</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=173131616224910&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
