<footer>
    <div class="cover">
        <div class="container">
            <p class="footer-text">
                <span class="copyright-text">
                    <span class="copyright">&copy;</span> SketchMe 2014 - 2015
                    <span class="hidden-xs">|</span>
                </span>
                <span class="hidden-xs">
                <a id="nav-home" href="/">Home</a>
                <span class="split">|</span>
                <a id="nav-cap" href="/about">About</a>
                <span class="split">|</span>
                <a id="nav-join" href="/join">Join</a></span>
            </p>
        </div>
    </div>
</footer>
