<footer>
    <div class="cover">
        <div class="container">
            <p class="footer-text">
                <a class="copyright-text" href="/">
                    <span class="copyright">&copy;</span> SketchMe 2014 - 2015
                    <span>|</span>
                </a>
                <span>
                    <a id="nav-cap" href="/about">About</a>
                    <span class="split">|</span>
                    <a id="nav-join" href="/join">Join</a>
                </span>
            </p>
        </div>
    </div>
</footer>
