---
---

$red: #e64c3c;
$yellow: #f9e900;
$gold: #F39C12;
$orange: #f37d33;
$blue: #277fff;
$lightblue: #08baf9;
$gray: #2b2b2b;
$white: #f8f8f8;
$dark: #333333;

$input-border-focus: $red;
$navbar-height: 80px;

@import "vendor";
// @import "onepage";

@mixin scr($media) {
  @if $media == xs {
    @media (max-width: $grid-float-breakpoint-max) { @content; }
  }
  @else if $media == md {
    @media (min-width: $grid-float-breakpoint) { @content; }
  }
}
@mixin nav-color($bg, $color: white) {
    .navbar {
        background-color: $bg;
        .navbar-brand { color: $color; }
        .navbar-nav > li > a { color: $color; }
        .navbar-toggle {
            border-color: $color;
            .icon-bar { background-color: $color; }
        }
    }
}
.thin-container {
    @include scr(md) { width: 970px; }
}
.app-logo {
    background-image: url('../img/app-logo-lg-shadow.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.italic {
    font-style: italic;
}

// --------------------
//     Navbar
// --------------------

// Default navbar
.navbar {
    border: none;
    margin: 0;
    border-radius: 0;

    .navbar-brand {
        color: white;
        font-size: 18px;
        font-weight: 300;
        .brand-description {
            font-weight: 400;
            @media (max-width: 320px) { display: none; }
        }
    }
    .navbar-nav {
        > li > a {
            color: white;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover, &:focus {
                font-weight: 600;
                background: none;
            }
        }
        .active {
            font-weight: 600;
            text-decoration: underline;
        }
    }
    .navbar-toggle {
        border-color: white;
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $navbar-default-border;
    }
}

.sign-up {
    margin: 0 auto;
    * {
        font-size: 18px;
    }
    @include scr(xs) {
        // width: 100%;
        // margin-top: 40px;
        display: none;
    }
    @include scr(md) {
        width: 480px;
        margin-top: 30px;
    }
    .input-group {
        height: 40px;
    }
    .input-group-addon {
        background-color: white;
        color: $dark;
        padding-right: 8px;
        border: 2px $dark solid;
        border-right-width: 0;
    }
    input {
        color: black;
        padding-left: 12px;
        background-color: white;
        @include placeholder($dark);
        &:focus {
            border-color: $dark;
            outline: 0;
            @include box-shadow(none);
        }
        border: 2px $dark solid;
        border-left-width: 0;
        border-right-width: 0;
        height: 41px;
    }
    button {
        @include button-variant(white, $red, $dark);
        border-width: 2px;
    }
    .output {
        color: $dark;
        font-weight: 200;
        margin-top: 10px;
    }
}

footer {
    padding: 30px 0 15px 0;
    .footer-text {
        text-align: center;
        color: $red;
        a {
            color: $red;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

// --------------------
//     Home page
// --------------------

.home-container {
    .header-container {
        padding: 0;
    }
    .header-container * {
        @include scr(md) { float: left; }
    }
    $logo-size: 60px;
    $logo-size-xs: 150px;
    .app-logo {
        @include scr(md) { height: $logo-size; width: $logo-size; }
        @include scr(xs) { height: $logo-size-xs; width: $logo-size-xs; }
        @include scr(md) { margin: 10px 20px; }
        @include scr(xs) { margin: 40px auto 10px auto; }
    }
    .title {
        color: $dark;
        text-align: center;
        line-height: 80px;
        @include scr(md) { font-size: 34px; margin: 0; }
        @include scr(xs) { font-size: 40px; margin: 0 auto; }
    }
    .tagline {
        @include scr(md) { display: none; }
        color: $dark;
        text-align: center;
        font-size: 20px;
        margin: 10px 40px;
    }
    .download-links {
        @include scr(xs) {
            margin: 30px auto;
        }
        @include scr(md) {
            float: right;
            margin: 0;
        }
    }
    .download {
        width: 149px;
        height: 54px;
        margin: 13px 10px;
        background-repeat: no-repeat;
        background-size: contain;
        @include scr(xs) { margin: 15px auto; }
    }
    .download-ios {
        background-image: url('../img/download-ios.png');
    }
    .download-android {
        background-image: url('../img/download-android.png');
    }
    .intro {
        .container-fluid {
            padding: 0;
        }
    }
    .slide {
        @include scr(md) { height: calc(100vh - 80px); }
        @include scr(xs) { height: 100vh; }
        overflow: hidden;
        h2 {
            margin-top: 40px;
            height: 60px;
            text-align: center;
            font-weight: 600;
            line-height: 28px;
            font-size: 20px;
            color: white;
            vertical-align: bottom;
        }
        img {
            margin: 0 auto;
        }
    }
    #slide-1 {
        background-color: $yellow;
        h2 {
            color: black;
        }
    }
    #slide-2 {
        background-color: $gold;
    }
    #slide-3 {
        background-color: $orange;
    }
    #slide-4 {
        background-color: $red;
    }
}

// ----------------------------
//   About Page
// ----------------------------
.about-container {
    @include nav-color($yellow, black);
    margin-top: $navbar-height;
    header {
        background-image: url('../img/sketchme-pattern.png');
        background-color: $yellow;
        min-height: 460px;
        padding-top: 80px;
    }
    .app-logo {
        height: 160px;
        width: 160px;
        margin: 0 auto;
    }
    h2 {
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: .1em;
    }
    p {
        text-indent: 2em;
        line-height: 1.6em;
    }
    .main-article {
        padding-top: 50px;
        @include scr(md) { font-size: 20px; }
        @include scr(xs) { font-size: 16px; }
        p {
            margin-bottom: 40px;
        }
        a {
            color: $red;
            font-weight: 700;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
        .italic {
            font-style: italic;
            font-weight: 700;
        }
    }
}

// ----------------------------
//   Join Page
// ----------------------------

.join-container {
    @include nav-color($red);
    margin-top: $navbar-height;
    header {
        background-image: url('../img/sketchme-pattern.png');
        background-color: $red;
        min-height: 570px;
        @include scr(md) { padding-top: 80px; }
        padding-bottom: 40px;
    }
    h2 {
        color: white;
        @include scr(md) { font-size: 34px; }
        @include scr(xs) { font-size: 24px; }
        line-height: 1.5em;
        text-align: center;
        margin-top: 40px;
        .emphasize {
            font-weight: 700;
        }
    }
    p {
        text-indent: 2em;
        line-height: 1.6em;
        a {
            color: inherit;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
    .main-article {
        padding-top: 50px;
        font-size: 20px;
        p {
            margin-bottom: 40px;
        }
    }
    .job {
        font-size: 20px;
        h3 {
            font-size: 28px;
            font-weight: 700;
            cursor: pointer;
            margin: 40px 0;
        }
        h4 {
            font-size: 24px;
            font-weight: 700;
        }
        .job-description {
            margin-top: 20px;
        }
        .job-section {
            margin: 30px 0;
            ul {
                margin: 20px 0;
            }
        }
        li {
            margin-bottom: 0.5em;
        }
    }
    .contact {
        font-size: 20px;
        p {
            text-indent: 0;
            margin-bottom: 10px;
        }
        .email {
            color: $red;
            font-weight: 700;
        }
    }
}

// ----------------------------
//   Privacy Page
// ----------------------------

.privacy-container {
    .navbar {
        background-color: $red;
    }
    margin-top: $navbar-height;
}

@import "sketch";
